.container {
    max-width: 1200px;
  }
  
  .img-fluid {
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .input-group .input-group-append .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  